:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 90%);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: hsl(0, 0%, 90%);
}
a:hover,
a:focus {
  text-decoration: wavy underline;
  outline: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image:
    linear-gradient(rgb(0 0 0 / 100%), rgb(0 0 0 / 10%), rgb(0 0 0 / 100%)),
    url("./public/leap-of-technology-large.png");
  background-position: 50% 50%;
  background-size: cover;
}

h1,
p {
  line-height: 1.1;
  text-shadow: 0 0.2rem 0.2rem black;
}

h1 {
  font-size: 3.2em;
}

p {
  font-size: 2.2em;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a:not(:hover, :focus) svg {
  filter: grayscale(100%);
}
